%meta{:http_equiv => "Content-Type", :content => "text/html; %charset=utf-8" }
%link{:href => "/style/blueprint/screen.css", :rel => "stylesheet", :type => "text/css",:media => "all" }
%link{:href => "/style/dh.css",:rel => "stylesheet",:type => "text/css",:media => "all" }



