.span-16
  %p 
    Your public key is
    %span.red
      = @you.pubkey.to_s + "."
    This value is arrived at by raising our value g to the power of a:
  %p.bumped
    g
    %span.super
      = @you.privkey
      %span.red
        (look at your paper for a)
  %p 
    And then dividing that by the prime p and taking the remainder. If you were to do this longhand, it would look something like this
  %p
    - a,b = longhand(@you.privkey,@g,@p)
    .span-8
      %p
        A Very Long Number
      %p
        =a
    .span-4.last
      %p
        The Remainder
      %p
        %span.red
          =b
      %p 
        This is the value that you give to your partner, so that she can calculate the secret key.
      %p
        Write this value on your paper as:
        %ul
          %li
            A =
            = @you.pubkey
    
.span-5.last
  %p
    Now get your partner's public key and enter it in the form below.
  %p
    %form{:action => "/generate_secret_key/#{@you.id}", :method => "POST"}
      %input{:type => "text", :name => "dc"}
      %input{:type => "submit", :value => "Generate"}
  